<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Explorer Linux</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/files.css">
    <script src="/static/scripts/file_operations.js"></script>
</head>
<body data-home-path="{{ session['ssh_details']['current_path'] }}">
    <h1>Files</h1>
    <p id="current-path-display">Current Path: {{ session['ssh_details']['current_path'] }}</p>
    <div id="actions">
        <button id="go-home-btn" class="button">Home</button>
        <button id="create-directory-btn">Create Directory</button>
        <button id="create-file-btn" data-current-path="{{ session['ssh_details']['current_path'] }}">Create File</button>
    </div>
    <ul id="file-list">
        {% for filename in files %}
            <li class="file-item">
                <a href="#" class="file-link" data-path="{{ session.current_path }}/{{ filename }}">{{ filename }}</a>
                <div class="context-menu">
                    <button class="context-menu-button" onclick="showContextMenu(event)">...</button>
                    <div class="menu-content" style="display:none;">
                        <button onclick="deleteItem('{{ filename }}')">Delete</button>
                        <button onclick="copyItem('{{ filename }}')">Copy</button>
                        <button onclick="moveItem('{{ filename }}')">Move</button>
                        <button onclick="editFile('{{ filename }}')">Edit File</button>
                        <button onclick="changePermissions('{{filename}}')">Change Permissions</button>
                    </div>      
                </div>
            </li>
        {% endfor %}
    </ul>
    <div id="file-contents"></div>
    <script>
        // Event listener for the Create Directory button
        document.getElementById('create-directory-btn').addEventListener('click', function() {
            const currentPath = document.body.getAttribute('data-home-path');
            window.location.href = '/create_directory?path=' + encodeURIComponent(currentPath);
        });
    
        // Event listener for the Create File button
        document.getElementById('create-file-btn').addEventListener('click', function() {
            const currentPath = document.body.getAttribute('data-home-path');
            window.location.href = '/create_file?path=' + encodeURIComponent(currentPath);
        });
    </script>
        
</body>
</html>
