<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Explorer Linux</title>
    <script src="/static/scripts/file_operations.js"></script>
</head>
<body data-home-path="{{ session['ssh_details']['current_path'] }}">
    <h1>Files</h1>
    <p id="current-path-display">Current Path: {{ session['ssh_details']['current_path'] }}</p>
    <div id="actions">
        <button id="go-home-btn" class="button">Home</button>
        <button id="create-directory-btn">Create Directory</button>
        <button id="create-file-btn" data-current-path="{{ session['ssh_details']['current_path'] }}">Create File</button>
        <button id="copy-file-btn">Copy File</button>
        <button id="move-file-btn">Move File</button>
        <button id="edit-file-btn">Edit File</button>
        <button id="change-permissions-btn">Change Permissions</button>
        <!-- Additional buttons for user management and access control (optional) -->
    </div>
    <ul id="file-list">
        {% for filename in files %}
            <li>
                <a href="#" class="file-link" data-path="{{ session.current_path }}/{{ filename }}">{{ filename }}</a>
                <button onclick="deleteItem('{{ filename }}')">Delete</button>
            </li>
        {% endfor %}
    </ul>
    <div id="file-contents"></div>
    <script>
        // Event listener for the Create Directory button
        document.getElementById('create-directory-btn').addEventListener('click', function() {
            const currentPath = document.body.getAttribute('data-home-path');
            window.location.href = '/create_directory?path=' + encodeURIComponent(currentPath);
        });
    
        // Event listener for the Create File button
        document.getElementById('create-file-btn').addEventListener('click', function() {
            const currentPath = document.body.getAttribute('data-home-path');
            window.location.href = '/create_file?path=' + encodeURIComponent(currentPath);
        });
    </script>
    
    
</body>
</html>
